{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="{% url delete%}" method="post">
        {% csrf_token %}
        <table>
        <th>id</th>
        <th>fname</th>
        <th>lname</th>
        {% if key %}
        {% for i in key %}
            <tr>
                    <td>{{i.id}}}</td>
                    <td>{{i.fname}}}</td>
                    <td>{{i.lname}}}</td>


            </tr>
        {% endfor %}
        {% endif %}
        </table>
        <input type="number" name="i"><br>
        <input type="submit" value="delete">

    </form> 
</body>
</html>